* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121214;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff !important;
}

.games-container {
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-areas: "header header header" 
    "main main main" 
    "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.games-header {
    grid-area: header;
    background: #121214;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #4E4E51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 999;
}

.games-header p {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: 600;
}

.icons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-home {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.header-user {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}

.header-user:hover, .header-home:hover {
    color: rgb(98, 98, 207);
}

.header-menu {
    height: 100%;
    width: auto;
}

.lista-menu {
    list-style: none;
    border: 1.5px solid #4E4E51;
    height: 100%;
    width: auto;
    border-radius: 8px;
}

.lista-active {
    display: block;
    transform: scaleX(1);
    transition: transform 0.2s ease-in;
    
}

.lista-inactive {
    transform: scaleX(0);
    transition: transform 0.2s ease-in;   
    display: none; 
}

.item-menu {
    padding: 7px;
    cursor: pointer;
    border-radius: 8px;
}

.item-sair {
    border-top: 1.5px solid #4E4E51;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: red;
    font-weight: 600;
}

.item-sair:hover {
    background: red;
    color: #fff;
    font-weight: 300;

}