* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121214;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff !important;
}

.games-container {
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-areas: "header header header" 
    "main main main" 
    "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.games-header {
    grid-area: header;
    background: #121214;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #4E4E51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 999;
}

.games-header p {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: 600;
}

.icons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-notification {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.header-user {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}

.header-user:hover, .header-notification:hover {
    color: rgb(98, 98, 207);
}

.header-menu {
    height: 100%;
    width: auto;
}

.lista-menu {
    list-style: none;
    border: 1.5px solid #4E4E51;
    height: 100%;
    width: auto;
    border-radius: 8px;
}

.lista-active {
    display: block;
    transform: scaleX(1);
    transition: transform 0.2s ease-in;
    
}

.lista-inactive {
    transform: scaleX(0);
    transition: transform 0.2s ease-in;   
    display: none; 
}

.item-menu {
    padding: 7px;
    cursor: pointer;
    border-radius: 8px;
}

.item-sair {
    border-top: 1.5px solid #4E4E51;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: red;
    font-weight: 600;
}

.item-sair:hover {
    background: red;
    color: #fff;
    font-weight: 300;

}

.games-content {
    grid-area: main;
    background: #121214;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px 0;
    padding: 30px 0;
}

.games-grid {
    width: 45%;
    height: auto;
    flex: 1 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.games-disponiveis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center !important;
    width: 100%;
    margin-bottom: 30px;
}

.games-disponiveis p {
    font-size: 14pt;
    font-weight: 600;
}

.game-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #0e7a0d;
    border-radius: 8px;
    margin: 3px 10px;
}

.icon-game {
    width: 20px;
    height: 20px;
}

.card-games {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.card-game {
    width: 30%;
    min-width: 100px;
    max-width: 200px;
    height: calc(25vh - 60px);
    min-height: 80px;
    max-height: 100px;
    border-radius: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    flex: 1 0 auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card-game:hover {
    transform: translateY(20px);
}

.card-game:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card-game img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
    object-fit: cover;
}

.games-info {
    width: 45%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.games-info p {
    font-size: 12pt;
    font-weight: 600;
    text-transform: uppercase;
}

.icon-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #0e7a0d;
    border-radius: 8px;
    margin: 3px 10px;
}

.download-games {
    width: 20px;
    height: 20px;
}

.games-footer {
    grid-area: footer;
    background: #252424;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.download-options {
    width: 45%;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: no-wrap;
    flex-shrink: 0.7;
    flex-grow: 0.5;
    margin-bottom: 70px;
}

.download-ios, .download-android {
    width: 48%;
    min-width: 150px;
    height: 70px;
    background: #353535;
    margin-right: 10px;
    border-radius: 8px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.download-ios p, .download-android p {
    font-size: 14pt;
    font-weight: 600;
    text-transform: uppercase;
}

.ios-logo, .android-logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.games-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games-menu p {
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 600;
    margin-top: 10px;
}

.active {
    color: #0e7a0d;
}

.footer-logo {
    width: 20px;
    height: 20px;
}

@media (max-width: 900px) {

    .games-content {
        padding: 10px 0;
    }

    .games-grid {
        width: 90%;
        margin-bottom: 10px;
    }

    .card-games {
        height: auto;
    }

    .games-info {
        margin-top: 45px;
    }
}