* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121214;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.games-container {
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-areas: "header header header" 
    "main main main" 
    "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
}

.games-header {
    grid-area: header;
    background: #121214;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #4E4E51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 999;
}

.games-header p {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: 600;
}

.icons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-notification {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.header-user {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}

.games-content {
    grid-area: main;
    background: #121214;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.games-grid {
    width: 45%;
    min-width: 350px;
    height: auto;
    margin-top: 30px;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-disponiveis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.games-disponiveis p {
    font-size: 14pt;
    font-weight: 600;
}

.game-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #0e7a0d;
    border-radius: 8px;
    margin: 3px 10px;
}

.icon-game {
    width: 20px;
    height: 20px;
}

.card-games {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 20px;
}

.card-game {
    width: 29%;
    min-width: 90px;
    height: 21%;
    min-height: calc(90px - 20px);
    flex-grow: 0;
    flex-shrink: 1;
    border: 1px solid #cecece;
    border-radius: 8px;
    cursor: pointer;
}

.card-game img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
    object-fit: cover;
}

.games-info {
    width: 45%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.games-info p {
    font-size: 12pt;
    font-weight: 600;
    text-transform: uppercase;
}

.icon-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #0e7a0d;
    border-radius: 8px;
    margin: 3px 10px;
}

.download-games {
    width: 20px;
    height: 20px;
}

.games-footer {
    grid-area: footer;
    background: #252424;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.download-options {
    width: 45%;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: no-wrap;
    flex-shrink: 1;
    flex-grow: .5;
    margin-bottom: 30px;
}

.download-ios, .download-android {
    width: 48%;
    min-width: 150px;
    height: 70px;
    background: #353535;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.download-ios p, .download-android p {
    font-size: 14pt;
    font-weight: 600;
    text-transform: uppercase;
}

.ios-logo, .android-logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.games-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games-menu p {
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 600;
    margin-top: 10px;
}

.active {
    color: #0e7a0d;
}

.footer-logo {
    width: 20px;
    height: 20px;
}